<!-- <div>
<lightgallery [settings]="settings" >
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbanuphotography.com%2Fevents%2Fthinnai-organic-farm-wedding%2F&psig=AOvVaw0GMgByZu4OBOXwtWQLiFNo&ust=1698608640695000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPj-47bAmYIDFQAAAAAdAAAAABAa" data-lg-size="1000">
        <img alt="img1" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fkhushmag.com%2Fcategories%2Frea%2Ffeatures%2Fkhush-guide-to-a-tamil-wedding%2F12022&psig=AOvVaw0GMgByZu4OBOXwtWQLiFNo&ust=1698608640695000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPj-47bAmYIDFQAAAAAdAAAAABAS" />
    </a>
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbanuphotography.com%2Fevents%2Fthinnai-organic-farm-wedding%2F&psig=AOvVaw0GMgByZu4OBOXwtWQLiFNo&ust=1698608640695000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPj-47bAmYIDFQAAAAAdAAAAABAa">
        <img alt="img2" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbanuphotography.com%2Fevents%2Fthinnai-organic-farm-wedding%2F&psig=AOvVaw0GMgByZu4OBOXwtWQLiFNo&ust=1698608640695000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPj-47bAmYIDFQAAAAAdAAAAABAa" />
    </a>
</lightgallery>
<div> -->


    <!-- <lightgallery [settings]="settings">
        <a class="gallery-item"
          data-src="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1406&q=80"
          data-responsive="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800">
          
          <img class="img-responsive"
            src="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
        </a>
        <a  
           class="gallery-item"
          data-src="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
          data-responsive="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800">
          <img class="img-responsive"
            src="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
        </a>
        <a  class="gallery-item"
          data-src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
          data-responsive="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800"
          >
          <img class="img-responsive"
            src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
        </a>
        
        <a  class="gallery-item"
        data-src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
        data-responsive="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800"
        >
        <img class="img-responsive"
          src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
      </a>


      <a  class="gallery-item"
      data-src="../assets/images/banner4.jpg"
      data-responsive="../assets/images/banner4.jpg,../assets/images/banner4.jpg"
      >
      <img class="img-responsive"
        src="../assets/images/banner4.jpg" />
    </a>


      </lightgallery>  -->

        <lightgallery [settings]="settings">
        
            
          <!-- <img class="dream"
            src="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
        
           
          <img class="dream"
            src="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
        
          <img class="dream"
            src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
         -->
        
          <img class="dream"
            src="../assets/images/banner1.jpg" />


            <img class="dream"
            src="../assets/images/banner4.jpg" />

            <img class="dream"
            src="../assets/images/banner5.jpg" />
       

      </lightgallery> 
